<div class="form">
  <%= form_with(model: @property,local: true) do |form| %>
    <% if @property.errors.any? %>
      <div id="error_explanation" class="center">
        <h2><%= @property.errors.count %>件のエラーがあります。</h2>
        <ul>
          <% @property.errors.full_messages.each do|msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <table>
      <div class="field">
        <tr>
          <td><%= form.label :name %></td>
          <td><%= form.text_field :name %></td>
        </tr>
        <tr>
          <td><%= form.label :rent %></td>
          <td><%= form.text_field :rent %></td>
        </tr>
        <tr>
          <td><%= form.label :address %></td>
          <td><%= form.text_field :address %></td>
        </tr>
        <tr>
          <td><%= form.label :age %></td>
          <td><%= form.text_field :age %></td>
        </tr>
        <tr>
          <td><%= form.label :note %></td>
          <td><%= form.text_field :note %></td>
        </tr>
    </div>
      <tr>
        <td></td>
        <td><%= form.submit %></td>
      </tr>
    </table>
  <% end %>
</div>
