
<div class="new_property">
    <%= link_to '投稿を作成する',new_property_path %>
</div>

<h1>物件一覧</h1>
<div class="properties">
  <table>
    <tr>
      <td>物件名</td>
      <td>住所</td>
      <td>築年数</td>
      <td>備考</td>

    <% @properties.each do |property| %>
        <tr>
          <td><%= property.name %></td>
          <td><%= property.address %></td>
          <td><%= property.age %></td>
          <td><%= property.note %></td>
          <td><%= link_to "詳細", property_path(property.id) %></td>
          <td><%= link_to "編集", edit_property_path(property.id) %></td>
          <td><%= link_to "削除", property_path(property.id), method: :delete ,data: {confirm: '本当に削除していいですか？'}%></td>
        </tr>
    <% end %>
  </table>
</div>
